<p>Utilizar jquery dentro de Angular</p>
<button id="botonjq">Mostrar textos</button><br><br>
<p id="textojq" class="alert alert-warning">
 Texto escrito desde jquery

</p>

<hr>
padre:
<h1>{{titulo}}</h1>
<ul>
  <li>Camiseta Roja</li>
  <li>Camiseta negra</li>
</ul>
<hr/>
<p>
Nombre del parque 
<input type="text" [(ngModel)]="nombreDelParque" keyup="mostrarNombre()" />

</p>
<p>
  Resultado : {{nombreDelParque}}

</p>
<div *ngIf="miParque">
    <h4> Datos de miParque desde hijo</h4>
    <ol>
        <li>{{miParque.nombre}}</li>
        <li>{{miParque.metros}}</li>
        <li>{{miParque.vegetacion}}</li>
        <li>{{miParque.abierto}}</li>
    </ol>
</div>
<hr/>
<p *ngIf="nombreDelParque">
hijo: 

<parque [nombre]="nombreDelParque" 
        [metros_cuadrados]="567"
        (pasameLosDatos)="verDatosParque($event)">
    </parque>
</p>