<!--The content below is only a placeholder and can be replaced.-->
<div class="black">
  <h1>
    {{nombre}}
  </h1>
  <p>
    {{email}}
  </p>
  <a href="{{website}}" target="_blank">
    Visita mi sitio web
  </a>
</div>
<button (click)="toggleHobbies()" 
class="btn">
{{showHobbies ? 'Ocultar Hobbies' : 'Mostrar Hobbies' }}</button>
<div *ngIf="showHobbies" class="component2">
  <h3>Hobbies</h3>
  <ul>
    <li *ngFor="let hobby of hobbies">
      {{hobby}}

    </li>
  </ul>
  <form (submit)="newHobby(hobby)">
      <input #hobby type="text" name="hobby" placeholder="hobby">
    </form>
</div>
